@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/montserrat-regular.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/montserrat-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    src: url("./assets/fonts/montserrat-medium.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    src: url("./assets/fonts/montserrat-medium.woff2") format("woff2");
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #F0F0F0;
} 